/*
Error: File to import not found or unreadable: canvas.
        on line 7 of scss/main.scss

2:         "mixins";
3: 
4: @import "reset",
5:         "nav",
6:         "header",
7:         "canvas",
8:         "typeform",
9:         "about",
10:         "footer";
11: 
12: @import "hamburgers/hamburgers.scss";

Backtrace:
scss/main.scss:7
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:45:in `import'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `block in with_base'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/stack.rb:115:in `with_frame'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/stack.rb:79:in `with_base'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:391:in `run'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:52:in `parse'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/lib/sass/exec/base.rb:19:in `parse!'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/gems/sass-3.4.24/bin/sass:13:in `<top (required)>'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/bin/sass:23:in `load'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/bin/sass:23:in `<main>'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/brendazhang/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: canvas.\A         on line 7 of scss/main.scss\A \A 2:         \"mixins\";\A 3: \A 4: @import \"reset\",\A 5:         \"nav\",\A 6:         \"header\",\A 7:         \"canvas\",\A 8:         \"typeform\",\A 9:         \"about\",\A 10:         \"footer\";\A 11: \A 12: @import \"hamburgers/hamburgers.scss\";"; }
