#about {
  @include primary-font;
  margin: 0;
  padding: 0px 30px 50px 60px;
  text-align: center;

  .about-container {
    display: flex;
    flex-direction: row;
  }

  .about-text {
    flex: 2;
    margin-right: 50px;
  }

  .about-links {
    flex: 1;

    .facebook, .twitter, .patreon {
      margin-top: 35px;
    }
  }

  .about-logo {
    width: 500px;
    margin-top: -50px;
    margin-bottom: 30px;

    @media screen and (max-width: 600px) {
      width: 300px;
    }

    @media screen and (max-width: 425px) {
      width: 250px;
    }

    @media screen and (max-width: 320px) {
      display: none;
    }
  }

  h3 {
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    padding: 20px 0;
  }

  p {
    line-height: 1.5;
    text-align: left;
  }

  span {
    font-weight: bold;
  }

  a {
    @include primary-font;
    text-transform: uppercase;
    text-decoration: none;
    color: $brand-color;
    font-size: 20px;
    transition: all 0.15s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
