@import "variables",
        "mixins";

#nav {
  height: 10vh;

  .hamburger {
    position: absolute;
    top: 3px;
    right: 10px;
  }
}

.nav-list {
  position: absolute;
  top: 45px;
  padding-right: 28px;
  transition: all 0.4s ease;

  li {
    padding-top: 20px;
    text-align: right;

    @media screen and (max-width: 500px) {
      padding-top: 22px;
      margin-right: 10px;
    }

    a {
      @include primary-font;
      text-transform: uppercase;
      text-decoration: none;
      color: $secondary-color;
      font-size: 14px;
      transition: all 0.15s ease;

      @media screen and (max-width: 350px) {
        font-size: 12px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    top: 0;
    display: flex;
    flex-direction: row;
    padding-right: 70px;
  }
}

.list-out {
  right: -299px;
  transition: all 0.4s ease;

  @media screen and (max-width: 500px) {
    right: -399px;
  }
}

.list-in {
  right: 0px;
  transition: all 0.4s ease;
}

/* hover */

.nav-list li a:hover {
  color: $brand-color;
}
