@import "variables",
        "mixins";

@import "reset",
        "nav",
        "header",
        "typeform",
        "about",
        "footer";

@import "hamburgers/hamburgers.scss";

html, body, .site-container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

.hide {
  display: none;
}

.highlight {
  color: $brand-color;
}
