@import "variables",
        "mixins";

@import "reset",
        "nav",
        "header",
        "canvas",
        "typeform",
        "footer";

/* hover and active effects */

.nav li a:hover {
  color: $brand-color;
}

.typeform-button:hover {
  background-color: $brand-color;
  color: white;
}
